.p-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 20px;
}

.p-wrapper .p-p-2 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 2rem;
  color: (160deg, #462b56, #d95a6d);
}
.p-n {
  color: white;
}
.btn3 {
  background: linear-gradient(135deg, #1e40af, #0ea5e9, #22d3ee);

  width: 50%;
  color: white;
  font-weight: bold;
  padding: 10px;
  border: none;
  border-radius: 10px;
  margin-top: 1rem;
  cursor: pointer;
}
.btn3:hover {
  background: linear-gradient(135deg, #2563eb, #c59e9e);
  color: white;
}

/* 3 cards per row */
.p-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columns */
  gap: 20px;
  padding: 20px;
}

.pro-grid {
  background: linear-gradient(135deg, #1e40af, #3b82f6, #60a5fa);

  border-radius: 1rem;
  padding: 2rem;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 500;
  color: #fff;

  transition: transform 0.3s ease, box-shadow 0.3s ease;

  height: 410px;
}

.pro-grid:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px #d0baba;
}

.pro-grid > img {
  height: 200px;
  width: 300px;
  border-radius: 10px;
}

.p-p {
  color: white;
  font-weight: bold;
}

@media (max-width: 500px) {
  .p-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }

  .pro-grid {
    width: 340px;
  }
}
